{% extends "base.html" %}

{% load staticfiles %}


{% block scripts %}
    <script src= "{% static 'js/chart.js' %}"  ></script>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "css/main.css" %} />
{% endblock %}


{% block whole_body %}
<nav class="tm-navbar uk-navbar uk-navbar-attached header-bar">
    <div class="uk-container uk-container-center header-nav">
        <div class="header-brand">
            <a class="header-logo uk-hidden-small" href="/"><img class="uk-margin uk-margin-remove" src="/static/images/team.jpg" width="60" height="60" title="Logo" alt="Logo"></a>
        </div>
        <div class="header-links">
            <ul class="uk-navbar-nav uk-hidden-small ">
                <li><a href="/">Index</a></li>
                <li class="active-page"><a href="#">Active page</a></li>
            </ul>
            {% if user.is_authenticated %}
                <a href="#offcanvas" class="uk-navbar-toggle" data-uk-offcanvas></a>
            {% endif %}
        </div>
    </div>
</nav>

    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">

                <table class="uk-table">
                    <caption>Incorrrect trips</caption>
                    <thead>
                        <tr>
                            <th>Trip</th>
                            <th>From</th>
                            <th>To</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td>Table Footer</td>
                            <td>Table Footer</td>
                            <td>Table Footer</td>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for trip in trips %}
                        <tr>
                            <td>{{ trip }}</td>
                            <td>{{ trip.point_start }}</td>
                            <td>{{ trip.point_finish }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="uk-grid">
                    <div class="uk-width-3-4">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                    <div class="uk-width-1-4">
                        <label>Show only for transport type:</label>
                        <select>
                            <option>All</option>
                            <option>Metro</option>
                            <option>Train</option>
                            <option>Tram</option>
                            <option>Trolley</option>
                            <option>Bus</option>
                        </select>
                    </div>
                    <div class="uk-form-row">


                        <label>Show only for period:</label>
                        <select>
                            <option>All</option>
                            <option>Metro</option>
                            <option>Train</option>
                            <option>Tram</option>
                            <option>Trolley</option>
                            <option>Bus</option>
                        </select>
                    </div>
                </div>

                <div class="uk-grid">

                    <div class="uk-width-3-4">
                        <div style='margin-bottom:10px'>
                            <label>Select card # </label>
                            <select id='trip-number'>
                                {% for card in cards %}
                                    <option>{{ card.number }}</option>
                                {% endfor %}
                            </select>
                            <a id='trip-button'>Get trips!</a>
                        </div>
                        <div id='map-canvas'></div>
                    </div>
                </div>
            </div>
            <script>
                $(function(){
                    $("#trip-button").click(function(event) {
                        event.preventDefault();

                        var csrftoken = $.cookie('csrftoken');
                        var trip_num = $('#trip-number').val();
                        $.ajax({
                            type: "GET",
                            url: '/card',
                            data: {
                                trip_number: trip_num,
                                csrfmiddlewaretoken: csrftoken
                            }
                        })
                        .done(function(msg) {
                            for (i=0; i<line.length; i++)
                            {
                              line[i].setMap(null);
                            }
                            for (i=0; i<check_in.length; i++)
                            {
                              check_in[i].setMap(null);
                            }
                            for (i=0; i<check_out.length; i++)
                            {
                              check_out[i].setMap(null);
                            }
                            line = [];
                            check_in = [];
                            check_out = [];
                            color = ['red', 'green', 'yellow', 'purple', 'blue', 'white', 'black'];
                            $.each(msg.trips,function(field, error) {
                                 var marker_in = new google.maps.Marker({
                                    position: new google.maps.LatLng(msg.trips[field].y_start, msg.trips[field].x_start),
                                    title: 'Check-in #'+field,
                                    icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                                    map: map,
                                    animation: google.maps.Animation.DROP,
                                    draggable: false
                                });
                                check_in.push(marker_in)
                                var marker_out = new google.maps.Marker({
                                    position: new google.maps.LatLng(msg.trips[field].y_finish, msg.trips[field].x_finish),
                                    title: 'Check-out #'+field,
                                    icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                                    map: map,
                                    animation: google.maps.Animation.DROP,
                                    draggable: false
                                });
                                check_out.push(marker_out)
                                var polyline = new google.maps.Polyline({
                                    path: [new google.maps.LatLng(msg.trips[field].y_start, msg.trips[field].x_start), new google.maps.LatLng(msg.trips[field].y_finish, msg.trips[field].x_finish)],
                                    strokeColor: color[color.length%(field+1)],
                                    strokeOpacity: 1.0,
                                    strokeWeight: 10,
                                    geodesic: true,
                                    map: map
                                });
                                line.push(polyline)
                            })

                        });
                    });
                });
            </script>

        </div>

    <footer class="footer-bar">
        <div class="uk-container uk-container-center uk-text-center">

            <ul class="uk-subnav uk-subnav-line">
                <li><a href="http://github.com/">GitHub</a></li>
                <li><a href="http://bmwlog.pp.ua/about">Misha</a></li>
                <li><a href="#">Vlad</a></li>
                <li><a href="mailto:bmwant@gmail.com">Mail</a></li>
            </ul>

            <div class="uk-panel">
                <p>Designed with <i class="uk-icon-heart"></i> at <strong>sq team</strong></p>
            </div>

        </div>
    </footer>

        <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
                <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="">
                    <li><img src="http://placehold.it/200x200&text=User+pic" alt=""></li>
                    <li class="uk-active"><a href="#">{{  user.email }}</a></li>

                    <li class="uk-nav-header">Header</li>

                    <li class="uk-parent">
                        <a href="#">Parent</a>
                        <ul class="uk-nav uk-nav-sub uk-nav-offcanvas" data-uk-nav>
                            <li><a href="">Sub item</a></li>
                            <li><a href="">Sub item</a></li>
                        </ul>
                    </li>

                    <li class="uk-nav-divider"></li>
                    <li><a href="/logout"><i class="uk-icon-sign-out"></i> Log out</a></li>
                </ul>
            </div>
        </div>

{% endblock %}

{% block bottom_scripts %}
<script src={% static "js/app.js" %}></script>
<script>
    myLineChart.datasets[0].bars[0].value = {{ trips_count }};
    myLineChart.update();
</script>
    {% endblock %}